@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

.main__game {
  margin-top: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__selected-item {
  padding: 10px 20px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__selected-item .selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.game__selected-item .selected__button-cross:hover, .game__selected-item .selected__button-circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.cross {
  width: 50px;
  height: 5px;
  padding: 15px 0px 15px 0px;
  z-index: -1;
}

.cross:before,
.cross:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #000;
}

.cross:hover:before,
.cross:hover:after {
  background-color: #fff;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

.cross:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cross:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.circle {
  width: 35px;
  height: 35px;
  border: 5px solid #000;
  border-radius: 50%;
  z-index: -1;
}

.circle:hover {
  border-color: #fff;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.selection:before,
.selection:after {
  background-color: #fff;
}

.selection {
  border-color: #fff;
}

.game__grid {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__box {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.grid__box:first-child, .grid__box:nth-child(2), .grid__box:nth-child(3) {
  border-top: none;
}

.grid__box:nth-child(3n + 1) {
  border-left: none;
}

.grid__box:nth-child(3n + 3) {
  border-right: none;
}

.grid__box:last-child, .grid__box:nth-child(8), .grid__box:nth-child(7) {
  border-bottom: none;
}

.player,
.computer {
  pointer-events: none;
}

.disable {
  opacity: 0.5;
  color: gray;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.line-horizontal {
  width: 0px;
  height: 5px;
  background: black;
  position: absolute;
  left: 0;
  -webkit-animation: width 500ms linear both;
          animation: width 500ms linear both;
}

.line-vertical {
  width: 5px;
  height: 0px;
  background: black;
  position: absolute;
  top: 0;
  -webkit-animation: height 500ms linear both;
          animation: height 500ms linear both;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.svg-cross-wise {
  width: 400px;
  height: 400px;
  position: absolute;
}

.cross-wise {
  stroke: #000;
  stroke-dasharray: 410;
  stroke-width: 6;
  -webkit-animation: skew 500ms linear both;
          animation: skew 500ms linear both;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none;
}

@-webkit-keyframes width {
  from {
    width: 0px;
  }
  to {
    width: 214px;
  }
}

@keyframes width {
  from {
    width: 0px;
  }
  to {
    width: 214px;
  }
}

@-webkit-keyframes height {
  from {
    height: 0px;
  }
  to {
    height: 214px;
  }
}

@keyframes height {
  from {
    height: 0px;
  }
  to {
    height: 214px;
  }
}

@-webkit-keyframes skew {
  from {
    stroke-dashoffset: 410;
  }
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes skew {
  from {
    stroke-dashoffset: 410;
  }
  to {
    stroke-dashoffset: 80;
  }
}
/*# sourceMappingURL=style.css.map */